{% include "base.html" %} 
{% block optional_style %}
    <link rel="stylesheet" href="{{url_for('static', filename='/css/configurar-router.css')}}"> 
{% endblock %} 
{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <td>Usuario que realizó el cambio</td>
            <td>Fecha y hora</td>
            <td>Descripción</td>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{entry.username}}</td>
                    <td>{{entry.datetime}}</td>
                    <td>{{entry.action}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}