@font-face {
    font-family: 'Ubuntu';
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Josefin';
    src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf');
}

.container {
    background-color: #8080ff;
    box-shadow: 1px 1px 4px #000000;
    /* border: 1px solid red; */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.col {
    /* border: 1px solid blue; */
    font-family: 'Ubuntu';
    padding: 15px 15px 15px 15px;
}

#titulo {
    color: #1f1f2e;
    font-family: 'Josefin';
    font-size: 35px;
    margin-bottom: 50px;
}

.col img {
    float: left;
}

.col a {
    text-decoration: none !important;
}