body {
    background-image: url(../../static/assets/fondo.jpg);
}

h1{
    color: azure;
}

p{
    color: azure;
}

h2{
    color: azure;
}

tr{
    color: azure;
}
th{
    color: azure;
}
td{
    color: azure;
}



h3{
    color: azure;
}

.routers{
    padding-left: 40%;
}

nav {
    background-color: rgb(4, 4, 78) !important;
    color: #c0f3f2 !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

a {
    color: #c0f3f2 !important;
}

.sabbotom{
    margin-left: 3%;
    background-color: #008CBA;
    border: 2px solid #000000;
    width: 15%;
}

.topo{
  padding-top: 10%;
}

a:hover {
    text-decoration: underline !important;
    text-decoration-color: #b9bafa !important;
    text-decoration-thickness: 5px !important;
}

.btn-primary {
    background-color: #b9bafa !important;
    color: black !important;
    border-color:  transparent !important;
    font-weight: bold !important;
}

.btn-primary:hover {
    text-decoration: none !important;
    background-color: 	#c0f3f2 !important;
}

.btn-dark {
    background-color: #9575cd;
    border: none;
}

.btn-dark:hover {
    background-color: #65499c;
}

.btn-outline-secondary {
    border: 1px solid #9575cd;
    color: #9575cd !important;
}

.btn-outline-secondary:hover {
    background-color: #a094b7;
    color: white !important;
}
