{% include "base.html" %}
{% block optional_style %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/alerts.css')}}">
{% endblock %}
{% block content %}
    <div class="text-center">
        <a href="{{url_for('alerts.list_records')}}"><button class="btn btn-primary">Bitácora</button></a>
        <p>Nota: Los valores entre "**" no se deben modificar</p>
        <form action="" method="post" class="alerts-form">
            <h3>Configuración de alertas</h3>
            <p>Se enviará el mensaje cuando se pierdan más de <input type="text" name="err_if_limit" value="{{error_limit}}"> paquetes</p>
            <textarea name="packets">{{settings.alert_interface_packets}}</textarea>

            <p>Mensaje cuando una interface cambie su estado:</p>
            <textarea name="status">{{settings.alert_interface_status}}</textarea>
            
            <div class="text-center">
                <input type="submit" value="Modificar" class="btn btn-primary modify">
            </div>
        </form>
    </div>
{% endblock %}
