{% include "assets.html" %}
{% block optional_style %}
	<!--Aqui el CSS para la pagina de dashboard especificamente-->
	<link rel="stylesheet" href="{{url_for('static',filename='/css/dashboard.css')}}">
{% endblock %}
{% block content %}
	<div class="text-center">
		<a href="{{url_for('monitor.view')}}"><button class="btn btn-primary">Ver topología</button></a>
		<a href="{{url_for('monitor.devices')}}"><button class="btn btn-primary">SNMP</button></a>
		<a href="{{url_for('alerts.configure')}}"><button class="btn btn-primary">Alertas</button></a>
	</div>
{% endblock %}